<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/user/login.css}">

</head>
<body>
<div class="container login-container">
    <main class="form-main">
    <h2>로그인</h2>
    <form id="loginForm" th:action="@{/login}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="username">ID</label>
            <input id="username" type="text" class="form-control" name="username" th:field="*{username}" placeholder="아이디"/>
        </div>
        <p class="announce-id"></p>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input id="password" type="password" class="form-control" name="password" th:field="*{password}" placeholder="비밀번호"/>
        </div>
        <p class="announce-pw" th:text="${message}"></p>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <a th:href="@{/signup}" class="btn btn-secondary btn-block">회원 가입</a>
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-primary btn-block" onclick="doLogin()">로그인</button>
            </div>
        </div>
    </form>
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="js/login.js"></script>

</body>
</html>