<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
</head>
<body>
<div th:replace="/html/common/navbar.html :: navbar-div">navbar div</div>
<div class="container-body">
<div class="container signup-container">
    <main class="form-main">
        <h1>My Page 수정</h1>
        <hr>
        <form id="updateForm" th:object="${userData}" onsubmit="return false" method="post">
            <div class="form-group">
                <label for="username">ID</label>
                <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="아이디" readonly/>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="비밀번호" required/>
            </div>
            <div class="form-group">
                <label for="password_check">비밀번호 확인</label>
                <input type="password" class="form-control" id="password_check" th:field="*{password_check}" placeholder="비밀번호 확인" required/>
            </div>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="이메일 입력"/>
            </div>
            <div class="form-group">
                <label for="personname">이름</label>
                <input type="text" class="form-control" id="personname" th:field="*{personname}" required/>
            </div>
            <div class="form-group">
                <label for="birthdate">생년월일</label>
                <input type="date" class="form-control w-50" id="birthdate" th:field="*{birthdate_string}" required/>
            </div>
            <div class="form-group">
                <label for="phone">전화번호</label>
                <input type="text" class="form-control" id="phone" th:field="*{phone}" required/>
            </div>
            <div class="form-group">
                <label for="postnum">우편번호</label>
                <input type="text" class="form-control" id="postnum" th:field="*{postnum}" required/>
            </div>
            <div class="form-group">
                <label for="address">주소</label>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" id="address" th:field="*{address}" required/>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="address_detail" th:field="*{address_detail}" required/>
                    </div>
                </div>
            </div>

        </form>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <a th:href="@{/main}" class="btn btn-secondary btn-block">메인으로</a>
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-primary btn-block" onclick="doSubmit()">수정</button>
            </div>
        </div>
    </main>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/user/mypage.js"></script>

</body>
</html>