<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
<div>
    <form action="http://localhost:8081/board/new" name="newBoard" method="post">
        <fieldset>
            <legend>게시물 수정</legend>
            제목 : <input type="text" name="title" style="width:300" th:placeholder="${title}"/><br><br>
            작성자 : <a th:text="${writer}"></a><br><br>
            내용 : <textarea name="content" rows="30" style="width:300" th:placeholder="${content}"></textarea><br><br>
            <input type="submit" value="작성"/>
        </fieldset>
    </form>
</div>
</body>
</html>