<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>새 게시물 생성</title>
</head>
<body>
    <div>
        <form action="http://localhost:8081/board/new" name="newBoard" method="post">
            <fieldset>
                <legend>새 게시물 생성</legend>
                제목 : <input type="text" name="title" style="width:300"/><br><br>
                작성자 : <input type="text" name="writer" style="width:150"/><br><br>
                내용 : <textarea name="content" rows="30" style="width:300"></textarea><br><br>
                <input type="submit" value="작성"/>
            </fieldset>
        </form>
    </div>
</body>
</html>