<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${result.getTitle()}">제목</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/board/boardview.css}"/>
</head>
<body>
    <div th:replace="/html/common/navbar.html :: navbar-div">navbar div</div>
    <div class="container-xl mt-5">
        <div>
            <h2 class="mb-5" th:text="${result.getTitle()}"></h2>
            <div class="row justify-content-between">
                <p class="col-4">게시자 : <span th:text="${result.getWriter()}"></span></p>
                <p class="col-4 left">조회수 : <span th:text="${result.getViewcount()}"></span></p>
            </div>
        </div>
        <hr>
        <div class="board-content">
            <p th:text="${result.getContent()}"></p>
        </div>
        <hr>
        <div>
            <button th:onclick="|location.href='@{/board}'|">목록</button>
            <button th:onclick="|location.href='@{/board/{id}/modifying(id=${id})}'|">수정</button>
            <button th:onclick="|location.href='@{/board/{id}/delete(id=${id})}'|">삭제</button>
        </div>
    </div>
</body>
</html>
