<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Main page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/board/boardmain.css}">
</head>
<body>
    <div th:replace="/html/common/navbar.html :: navbar-div">navbar div</div>
    <div class="container mt-5">
    <h1 class="mb-4">It's Main board page!</h1>
    <hr>
    <div class="table-responsive board-table">
    <table class="table table-bordered">
        <tr class="table-secondary">
            <td class="id">번호</td>
            <td class="title" style="text-align:center;">제목</td>
            <td class="writer">작성자</td>
            <td class="created_time_date">작성일</td>
            <td class="viewcount">조회수</td>
        </tr>
        <tr th:each="result : ${resultList}">
            <td class="id" th:text="${result.getBoard_id()}"></td>
            <td class="title">
                <a th:href="@{/board/view/{id}(id=${result.getBoard_id()})}" th:text="${result.getTitle()}"></a>
            </td>
            <td class="writer" th:text="${result.getWriter()}"></td>
            <td class="created_time_date" th:text="${result.getCreated_time_date()}"></td>
            <td class="viewcount" th:text="${result.getViewcount()}"></td>
        </tr>
    </table>
    </div>
    <hr>
        <!-- 페이징 처리 -->
    <div>
        <ul class="pagination">
            <li th:if="${startRange}>10" class="pagination-list-item">
                <a th:href="@{/board/{page}(page=(${startRange}-1))}" th:text="prev"></a>
            </li>
            <li th:each="num : ${#numbers.sequence(startRange,endRange)}" class="pagination-list-item">
                <a class="thick" th:if="${crrPage}==${num}" th:text="${num}"></a>
                <a th:unless="${crrPage}==${num}" th:text="${num}" th:href="|@{/board/{page}(page=${num})}|"></a>
            </li>
            <li th:if="${haveNext}==true" class="pagination-list-item">
                <a th:href="@{/board/{page}(page=(${endRange}+1))}" th:text="next"></a>
            </li>
        </ul>
        <br>
        <button class="new-post-button" th:onclick="|location.href='@{/board/new}'|">새 글</button>
    </div>
    <br>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>