<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.Skilltest.board.dao.BoardDao">
    <resultMap id="Board" type="com.practice.Skilltest.board.dto.BoardDto">
        <result column="b_id" property="board_id"/>
        <result column="writer" property="writer"/>
        <result column="title" property="title"/>
        <result column="m_date" property="modified_time"/>
        <result column="content" property="content"/>
        <result column="viewcount" property="viewcount"/>
    </resultMap>

    <!-- 게시글  -->

    <select id="selectAll" resultMap="Board">
        SELECT * FROM boardtable
        ORDER BY b_id DESC
    </select>

    <select id="viewOne" resultMap="Board">
        SELECT * FROM boardtable
        WHERE b_id = #{id}
    </select>

    <insert id="newBoard" parameterType="com.practice.Skilltest.board.dto.BoardDto">

        INSERT INTO boardtable(
        writer, title, content
        )
        VALUES(
        #{writer}, #{title}, #{content}
        )
        <selectKey keyProperty="board_id" resultType="long" order="AFTER">
        SELECT currval(pg_get_serial_sequence('boardtable','b_id'))
        </selectKey>
    </insert>

    <update id="updateBoard" parameterType="Map">
        UPDATE boardtable
        SET
        title = #{title},
        content = #{content},
        m_date = now()
        WHERE
        b_id = #{id}
    </update>

    <update id="updateViewcount" parameterType="long">
        UPDATE boardtable
        SET
            viewcount = viewcount +1
        WHERE
            b_id = #{id}
    </update>

    <delete id="deleteBoard">
        DELETE FROM boardtable
        WHERE b_id = #{id}
    </delete>

    <!-- 페이징 처리 -->

    <select id="selectCount" resultType="int">
        SELECT COUNT(*) FROM boardtable
    </select>

    <select id="selectPageRange" resultMap="Board">
        SELECT b_id, title, writer, viewcount FROM boardtable
        ORDER BY b_id DESC
        LIMIT 10 OFFSET #{offset}
    </select>


    
</mapper>
