<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.practice.Skilltest.board.dao.BoardDao">
    <resultMap id="Board" type="com.practice.Skilltest.board.dto.BoardDto">
        <result column="b_id" property="board_id"/>
        <result column="writer" property="writer"/>
        <result column="title" property="title"/>
        <result column="m_date" property="modified_time"/>
        <result column="content" property="content"/>
        <result column="viewcount" property="viewcount"/>
    </resultMap>

    <select id="selectAll" resultMap="Board">
        SELECT * FROM boardtable
    </select>

    <select id="viewOne" resultMap="Board">
        SELECT * FROM boardtable
        WHERE b_id = #{id}
    </select>

    <insert id="newBoard" parameterType="Map">
        INSERT INTO boardtable(
        writer, title, content
        )
        VALUES(
        #{writer}, #{title}, #{content}
        )
    </insert>

    <update id="upadteBoard" parameterType="Map">
        UPDATE boardtable
        SET
        writer = #{writer},
        title = #{title},
        content = #{content},
        m_data = now()
        WHERE
        b_id = #{id}
    </update>

    <delete id="deleteBoard">
        DELETE FROM boardtable
        WHERE b_id = #{id}
    </delete>

    
</mapper>
