<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 로그인, 회원가입을 제외한 유저기능을 위한 매퍼  -->
<mapper namespace="com.practice.Skilltest.user.dao.UserDao">

    <resultMap id="userDetailDto" type="com.practice.Skilltest.user.dto.UserDetailDto">
        <result column="user_name" property="username"/>
        <result column="user_personname" property="personname"/>
        <result column="user_birthdate" property="birthdate"/>
        <result column="user_phone" property="phone"/>
        <result column="user_email" property="email"/>
        <result column="user_postnum" property="postnum"/>
        <result column="user_address" property="address"/>
        <result column="user_address_detail" property="address_detail"/>
    </resultMap>

    <!-- 입력된 유저 이름으로 저장된 유저데이터 조회 -->
    <select id="getUserData" parameterType="String" resultMap="userDetailDto">
        SELECT userData.*,
               ut.user_name as user_name
        FROM user_private_data AS userData
                 JOIN public.user_table as ut on ut.u_id = userData.u_id
        WHERE ut.user_name = #{username};
    </select>

    <!-- 패스워드 변경 -->
    <update id="updatePassword" parameterType="map">
        UPDATE user_table SET user_password = #{password}
        WHERE u_id = #{id};
    </update>

    <!-- user_private_data update SQL -->
    <update id="updateUserData" parameterType="map">
        <selectKey resultType="int" keyProperty="id" order="BEFORE">
            WITH find_user AS(
                SELECT u_id FROM user_table
                WHERE user_name = #{username}
            )
            SELECT u_id FROM find_user;
        </selectKey>
        UPDATE user_private_data
        SET
            user_personname = #{personname}, user_birthdate = #{birthdate},
            user_phone = #{phone}, user_email = #{email},
            user_postnum = #{postnum}, user_address = #{address},
            user_address_detail = #{address_detail}
        WHERE u_id = #{id};
    </update>

</mapper>