html,
body {
  height: 100%;
}

body{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    text-align: center;
}

.form-main{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
}
input.form-control {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
}

button.btn-block,
a.btn-block {
  margin-top: 20px;
}

p.announce-message{
    color: #ff3939;
}