html,
body {
  height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #f8f9fa;
}
.form-main{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}


.signup-container {
    background-color: #ffffff;
    padding: 20px;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    max-width: 800px;
}

input.form-control {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  padding: 8px;
  width: 100%;
}

button.btn-block,
a.btn-block {
  margin-top: 20px;
}