<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/common/main.css}">
    <title>
        Main page
    </title>

</head>

<body>
    <div th:replace="/html/common/navbar.html :: navbar-div">navbar div</div>
    <div class="container-fluid">
        <h1>This is main page for testing.</h1>

        <h3>로그인한 인원 : <span th:text="${CurrUsername}"></span></h3>
        <br>
        <a th:href="@{/board}">게시판으로 가기</a>
    </div>

</body>

</html>