


p.left{ text-align : right; }

table{
    margin:auto;
}

.board-content{
    min-height: 50vh;
}

button.bottom-button-r{
    margin: 5px;
    float: right;
}
button.bottom-button-l{
    margin: 5px;
    float: left;
}
